<table class="table">
  <thead>
    <tr>
       <div class="card bg-warning text-center container my-2">
          <h5 class="card-title">Bienvenid@ a tu perfil!</h5>
       </div>
    </tr>
  </thead>
  <div align="center">
    <img
     src="https://cdn-icons-png.flaticon.com/512/74/74472.png"
     style="width: 25vw; min-width: 140px;"
     class="card-img-top center container"
     alt="Usuario"
    />
  </div>        
  <tbody>
    <tr>
      <th scope="row">Número de Cuenta: </th>
      <td>{{perfil.numct}}</td>
    </tr>
    <tr>
      <th scope="row">Nombre: </th>
      <td>{{perfil.nombre}} {{perfil.paterno}} {{perfil.materno}}</td>
    </tr>
    <tr>
      <th scope="row">Correo: </th>
      <td>{{perfil.correo}}</td>
    </tr>
    <tr>
      <th scope="row">Celular: </th>
      <td>{{perfil.celular}}</td>
    </tr>
    <tr>
      <th scope="row">PUMA PUNTOS: </th>
      <td>{{perfil.pumaPuntos}}</td>
    </tr>
  </tbody>
</table>
