<br>
<div class="container">

<table class="table table-striped table-hover">
  <thead class="table-primary">
    <tr>
      <th scope="col">id</th>
      <th scope="col">codigo</th>
      <th scope="col">rentado</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let existencia of existencias">
      <th scope="row">{{existencia.id}}</th>
      <td>{{existencia.codigo}}</td>
      <td>{{existencia.estaRentado}}</td>
      <td>
        <button class="btn btn-danger" *ngIf="!existencia.estaRentado" 
        [routerLink]="['../rentas/renta/', existencia.id]">Rentar</button>
      </td>
    </tr>
  </tbody>
</table>
</div>