 
  <section style="background-color: #79BAEC">
    <div class="card bg-warning text-center container my-2">
        <h5 class="card-title">{{titulo}}</h5>
    </div>

    <div class="card bg-dark text-white container my-2">
        <div class="card-body">

            <form (ngSubmit)="update()">

                <div class="form-group">
                    <label for="">codigo</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="producto.codigo" name   ="codigo" id="" aria-describedby="" placeholder="Ingresa el nuevo codigo">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">nunct</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="producto.nunct" name   ="nunct" id="" aria-describedby="" placeholder="Ingresa el nuevo numero de cuenta">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">nombre</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="producto.nombre" name   ="nombre" id="" aria-describedby="" placeholder="Ingresa el nuevo nombre>
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">costo puntos</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" [(ngModel)]="producto.costoPuntos" name   ="costoPuntos" id="" aria-describedby="" placeholder="Ingresa el nuevo costo">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">dias de renta</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" [(ngModel)]="producto.diasRenta" name   ="diasRenta" id="" aria-describedby="" placeholder="Ingresa los nuevos dias de renta">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">descripcion</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name   ="descripcion" max="500" min="0" id="" aria-describedby="" placeholder="Ingresa la nueva descripcion">
                    </div>  
                </div>
                <br>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-info" role="button">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>