<div class="card bg-dark text-white">
    <div class="card-header">Nuevo producto</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Codigo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">numct proveedor </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Costo en puntos</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Dias de renta</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">descripcion</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br>
        </form>
        <button type="button" class="btn btn-light">Agregar</button>
    </div>
</div>