<br>
<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form (ngSubmit)="create()">
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Codigo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">numct proveedor </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.numct" name="numct">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Costo en puntos</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.costoPuntos" name="costoPuntos" max="500" min="1">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Dias de renta</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.diasRenta" name="diasRenta" max="7" min="3">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">descripcion</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="descripcion">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">existencias</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.existencias" name="descripcion">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>