<section style="background-color: #79BAEC">
    <br>
    <div class="card bg-warning text-center container my-2">
        <h5 class="card-title">{{titulo}}</h5>
    </div>

    <div class="card bg-dark text-white container my-2">
        <div class="card-body">

            <form (ngSubmit)="create()">
                
                <div class="form-group">
                    <label for="">Número de C/T</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.numct" name   ="numct" id="" aria-describedby="" placeholder="Ingresa el número de cuenta o trabajador">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">Nombre(s)</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name   ="nombre" id="" aria-describedby="" placeholder="Ingresa el nombre(s)">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">Apellido paterno</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.paterno" name   ="paterno" id="" aria-describedby="" placeholder="Ingresa el apellido paterno">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">Apellido materno</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.materno" name   ="materno" id="" aria-describedby="" placeholder="Ingresa el apellido materno">
                    </div>  

                </div>
                <br>

                <div class="form-group">
                    <label for="">Correo</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.correo" name   ="correo" id="" aria-describedby="" placeholder="Ingresa correo institucional">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">Teléfono</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.celular" name   ="celular" id="" aria-describedby="" placeholder="Ingresa un número telefónico">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">Contraseña</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.contrasenia" name   ="contrasenia" id="" aria-describedby="" placeholder="Ingresa una contraseña">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">Puma puntos</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" [(ngModel)]="usuario.pumaPuntos" name   ="pumaPuntos" max="500" min="0" id="" aria-describedby="" placeholder="Ingresa la cantidad de puma puntos">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">¿Es proveedor?</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.esProveedor" name   ="esProveedor" id="" aria-describedby="" placeholder="Ingresa true o false">
                    </div>  
                </div>
                <br>

                <div class="form-group">
                    <label for="">¿Es administrador?</label>
                    <div class="col-sm-6">

                        <input type="text" class="form-control" [(ngModel)]="usuario.esAdministrador" name   ="esAdministrador" id="" aria-describedby="" placeholder="Ingresa true o false">
                    </div>  
                </div>
                <br>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-info" role="button">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
