<br>
    <div class="card border-dark col-sm-10 offset-sm-1 text-white ">
    <div class="card-header text-white text-center" style="background-color: #84891D;">{{titulo}}</div>

    <div class="card-body" style="background-color: #224E46;">
        
        <form (ngSubmit)="sumar()">
            <div class="form-group row">
               <label for="" class="col-form-label col-sm-2">Número de cuenta o de trabajador</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" [(ngModel)]="usuario.numct" name="numct">
                </div>
            </div>
            <br>
                
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">PumaPuntos</label>
                <div class="col-sm-3">
                    <input type="number" min="1" max="500" class="form-control" [(ngModel)]="usuario.pumaPuntos" name="pumaPuntos">
                </div>
            </div>        
            <br>
            <br>
            <div class="from-group row">
                <div class="col-sm-3">
                   <h5> <button class="btn btn-primary" role="button">Sumar</button></h5>
                </div>
            </div>
        </form>

    </div>
</div>