<br>
    <div class="card border-dark col-sm-10 offset-sm-1 text-white text-center">
    <div class="card-header text-white" style="background-color: #84891D;">{{titulo}}</div>

    <div class="card-body" style="background-color: #224E46;">



        <form (ngSubmit)="restablece()">

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Número de C/T</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="restablecer.numct" name="numct">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Nueva contraseña</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="restablecer.nuevaContra" name="nuevaContra">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Confirmacion de nueva contraseña</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="restablecer.confirmacionContra"
                        name="confirmacionContra">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-info text-dark" style="background-color: #2BB79F;" role="button">Restablecer</button>
                </div>
            </div>

        </form>
    </div>
</div>