<div class="card bg-warning text-center container my-2">
    <h5 class="card-title">Historial</h5>
</div>

<div class="card bg-dark text-white container my-2" *ngIf="authService.hasRole('ROLE_ADMIN')">
    <div class="card-body">

        <div class="card bg-dark text-white container my-2">

            <div class="card-body">

                <form (ngSubmit)="getHistorial()">

                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-2">Número de C/T</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" [(ngModel)]="numct" name="numct">
                        </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <button class="btn btn-primary" role="button">Buscar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Id renta</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Producto</th>
                    <th scope="col">numct</th>
                    <th scope="col">Id Existencia</th>
                    <th scope="col">Fecha Devolucion</th>
                    <th scope="col">Fecha Renta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let renta of historial">
                    <th scope="row">{{renta.id}}</th>
                    <td>{{renta.codigoProducto}}</td>
                    <td>{{renta.nombreProducto}}</td>
                    <td>{{renta.numct}}</td>
                    <td>{{renta.idExistencia}}</td>
                    <td>{{renta.fechaDevolucion}}</td>
                    <td>{{renta.fechaRenta}}</td>
                </tr>
            </tbody>
        </table>
    </div>

<div *ngIf="historial.length == 0">
    <p class="fs-2 text-center">Historial Vacio</p>
</div>