<nav class="navbar navbar-expand-lg navbar-dark " style = "background-color:#052343;">
    <div class="container-fluid">
        <a class="navbar-brand">CienciasTop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="/mi-perfil" *ngIf="authService.isAuthenticated()">Mi Perfil</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/usuarios" *ngIf="authService.isAuthenticated() && authService.hasRole('ROLE_ADMIN')">Usuarios</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/productos" *ngIf="authService.isAuthenticated()">Productos</a>
                <!-- <a class="nav-link" routerLinkActive="active" routerLink="/rentas" *ngIf="authService.isAuthenticated()">Rentar</a> -->
                <a class="nav-link" routerLinkActive="active" routerLink="/existencias" *ngIf="authService.isAuthenticated()">Existencias</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/historial" *ngIf="authService.isAuthenticated()">Historial</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/reportes" *ngIf="authService.isAuthenticated() and authService.hasRole('ROLE_ADMIN')">Reportes</a>
                <!-- <a class="nav-link" routerLinkActive="active" routerLink="/restablecer-contra">Restablecer contrasenia</a> -->
                <ul class="navbar-nav navbar-right">
                    <li>
                      <a *ngIf="!authService.isAuthenticated()"  routerLink="/login" class="btn btn-outline-primary">Iniciar sesion</a>
                    </li>
          
                    <li *ngIf="authService.isAuthenticated()" class="dropdown">
                      <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{authService.usuario.numct}}
                      </a>
                    
                      <ul class="dropdown-menu">
                          <button (click)="logout()" class="dropdown-item">Cerrar Sesión</button>
                      </ul>
                    </li>
          
                  </ul>
            </div>
        </div>
    </div>
</nav>